*{
    margin: 0%;
    padding: 0%;
}

body{
    /* background-color: rgb(45, 40, 40); */
    background-image: linear-gradient(to bottom, red, rgb(242, 0, 255));
    background-attachment:fixed;
}

header{
    /* background-image: linear-gradient(to left, rgb(255, 0, 242), rgb(0, 0, 0)); */
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;
}

#main-div{
    /* background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 0, 0)); */
    background-image: linear-gradient(to bottom, rgb(202, 26, 26), rgb(242,0,255));
    /* width: 500px;
    height: 400px; */
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -57%);
    border: 7px outset rgb(255, 239, 239);
    /* border-top: black; */
    /* border-bottom: gray */
}

#input-div{
    margin: 20px 0px 0px 10px;
    text-align: center;
}
#input-div input{
    border-radius: 10px;
    width: 80%;
    padding: 0px 8px;
    height: 40px;
    font-size: 30px;
    background-color: white;
    text-align: right;
    background-color: rgb(219, 188, 188);
    /* color: rgb(23, 56, 156); */
    color: rgb(255, 255, 255);
}

table{
    margin: 0px 30px 20px 30px;
    /* margin: 0px 0px 0px 0px; */
}
table button{
    margin-top: 0px;
    padding: 30px;
}


button{
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    border: 3px outset rgb(187, 161, 161);
    width: 90px;
    height: 70px;
    margin: 0px 0px 3px 10px;
}
button:hover{
    background-color: rgb(8, 181, 181);
    color: white;
}

#equal{
    font-size: 30px;
    color: white;
    background-color: rgb(10, 171, 158);
    padding-top: 15%;
}

#equal:hover{
    background-color: rgb(12, 221, 221);
}

